html {
  line-height: 1.6;
  font-family: 'Open Sans', 'Helvetica', sans-serif; }

body {
  margin: 0px; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #484c55;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

a:hover {
  color: #44c0c2; }

li {
  list-style-type: none; }

/*----------------------------begin Header-------------------------------*/
.banner {
  width: 100%;
  height: 100px;
  background: #fff; }

.logo {
  float: left;
  margin: 0;
  font-size: 43px;
  line-height: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Lobster', cursive; }

.banner .logo > a {
  color: #44c0c2; }

.nav {
  float: right;
  font-size: 15px;
  margin: 0px; }

.nav li {
  display: inline-block;
  padding: 38px 19px 38px 19px; }

.nav li:hover {
  background-color: #f8f9fb;
  border-bottom: 2px solid #44c0c2;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out; }

.container {
  width: 90%;
  max-width: 1170px;
  margin: auto;
  overflow: hidden; }

/*----------------------------end Header-------------------------------*/
/*----------------------------begin Slider-------------------------------*/
/* jssor slider loading skin double-tail-spin css */
.jssorl-004-double-tail-spin img {
  animation-name: jssorl-004-double-tail-spin;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.jssora053 {
  display: block;
  position: absolute;
  cursor: pointer; }

.jssora053 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 640;
  stroke-miterlimit: 10; }

.jssora053:hover {
  opacity: 0.8; }

.jssora053.jssora053dn {
  opacity: 0.5; }

.jssora053.jssora053ds {
  opacity: 0.3;
  pointer-events: none; }

/*----------------------------end Slider-------------------------------*/
/*-------------------------BEGIN THE TEAM-----------------------------*/
#team {
  padding-top: 70px;
  color: #4e525d;
  text-align: center;
  overflow: hidden; }

#team h1 {
  margin-bottom: 140px; }

#Adrian, #Narate, #Fernando, #Adedayo {
  max-width: 290px;
  float: left;
  margin-left: 55px;
  margin-bottom: 100px; }

#team h4 {
  margin-top: 66px; }

#team p {
  font-size: 12px; }

#team .img_team {
  width: 201px;
  height: 201px;
  border-radius: 100px;
  background-image: url(../img/team_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-out,color 0.5s ease-out; }

#team .img_team:hover {
  background-image: url(../img/team_add.png);
  transition: background-image 0.3s ease-in,color 0.3s ease-in; }

/*-------------------------END THE TEAM-----------------------------*/
/*-------------------------------------------*/
/*----------------BEGIN BLOG----------------*/
/*-----------------------------------------*/
#blog {
  padding-top: 120px;
  background-color: #f1f1f1;
  overflow: hidden;
  padding-bottom: 100px; }

#basic, #pro, #premium {
  float: left;
  margin-left: 30px;
  max-width: 363px;
  text-align: center; }

#blog h2 {
  background-color: #485460;
  padding: 25px 100px;
  color: #fff; }

#blog h3, #blog .button {
  background-color: #f8f9fb;
  padding: 25px 100px;
  color: #485460; }

#blog h4 {
  background-color: #fff;
  border-bottom: 1px solid #ecf0f1;
  padding: 15px 100px;
  font-size: 12px;
  color: #bec1c5; }

.button .buy {
  display: inline-block;
  color: #fff;
  padding: 8px 45px;
  background-color: #788492;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.5s ease-out,color 0.5s ease-out; }

.button .buy:hover {
  background-color: #49cbcd;
  transition: background-color 0.3s ease-in,color 0.3s ease-in; }

/*-------------------------------------------*/
/*-----------------END BLOG-----------------*/
/*-----------------------------------------*/
/*-------------------------------------------*/
/*-------------BEGIN CONTACT US-------------*/
/*-----------------------------------------*/
#contact {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
  background-image: url(../img/contact_fon.png);
  overflow: hidden;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#contact h1 {
  text-align: center;
  margin-bottom: 110px;
  font-size: 42px;
  font-weight: 400; }

.infa, .form {
  width: 50%;
  float: left; }

#contact .infa h2 {
  margin-bottom: 10px;
  font-weight: 400; }

#contact .infa h4 {
  color: #ababab;
  margin-bottom: 20px;
  font-weight: 400; }

#contact .infa .social {
  padding-top: 20px; }

#contact .infa .social img {
  margin-right: 10px;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

#contact .infa .social img:hover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }

#contact .infa p {
  margin-top: 15px;
  margin-left: 8px;
  font-size: 14px;
  color: #bface2;
  line-height: 1.8; }

.form input[type="text"],
.form input[type="email"] {
  width: 222px;
  font-size: 16px;
  font-family: 'Open Sans';
  padding: 7px 20px;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 30px;
  outline: none;
  color: #757575; }

.form textarea {
  width: 520px;
  height: 140px;
  font-size: 16px;
  font-family: 'Open Sans';
  padding: 20px;
  border-radius: 5px;
  color: #757575;
  margin-bottom: 25px;
  outline: none;
  resize: none; }

.form textarea:focus,
.form .input:focus {
  color: #000;
  font-weight: 600;
  background-color: #faffbd; }

.form input[type="submit"] {
  background-color: #49cbcd;
  color: #fff;
  font-family: 'Open Sans';
  padding: 11px 55px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  float: right;
  margin-right: 4%;
  cursor: pointer;
  transition: background-color 0.5s ease-out,color 0.5s ease-out; }

.form input[type="submit"]:hover {
  background-color: #788492;
  transition: background-color 0.3s ease-in,color 0.3s ease-in; }

/*-------------------------------------------*/
/*--------------END CONTACT US--------------*/
/*-----------------------------------------*/
/*-------------------------------------------*/
/*---------------BEGIN @MEDIA----------------*/
/*-----------------------------------------*/
@media only screen and (max-width: 1200px) {
  #contact .infa .social {
    padding-top: 10px; }
  #contact .infa p {
    font-size: 12px; } }

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  #logo {
    padding-left: 5%;
    width: 45%; }
  .text {
    bottom: 18%; }
  .text h1 {
    font-size: 45px; }
  .text p {
    font-size: 18px; }
  .ghost-button {
    padding: 6px 35px; }
  #contact .infa {
    padding-left: 15px;
    width: 48%; }
  #contact textarea {
    width: 88%;
    height: 130px; }
  .form input[type="text"], .form input[type="email"] {
    width: 38%;
    margin-right: 2%; }
  .infa h4 {
    font-size: 16px; }
  .infa p {
    font-size: 12px; } }

@media only screen and (max-width: 1170px) {
  #blog h2, #blog h4, #blog h3, #blog .button {
    padding: 25px 85px; }
  .button .buy {
    padding: 8px 39px; }
  #basic, #pro, #premium {
    margin-left: 22px; } }

@media only screen and (min-width: 1025px) and (max-width: 1170px) {
  .three_blog {
    width: 1010px;
    margin: 0 auto;
    overflow: hidden; }
  #Adrian, #Narate, #Fernando, #Adedayo {
    margin-left: 40px; }
  .four_team {
    width: 1077px;
    margin: 0 auto;
    overflow: hidden; } }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #logo {
    width: 31%;
    padding-left: 38px; }
  #team h1 {
    margin-bottom: 50px; }
  #Adrian, #Fernando {
    clear: both; }
  #Adrian, #Narate, #Fernando, #Adedayo {
    margin-bottom: 25px; }
  .two_team {
    width: 540px;
    margin: 0 auto;
    overflow: hidden; }
  #menu {
    width: 64%; }
  .text {
    bottom: 15%; }
  .text h1 {
    font-size: 33px; }
  .text p {
    font-size: 15px; }
  .ghost-button {
    padding: 5px 30px;
    font-size: 20px; }
  #premium {
    clear: both;
    margin-bottom: 20px;
    margin-left: 0px; }
  #blog {
    padding: 50px 0px; }
  .two_blog {
    width: 690px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 30px; }
  .one_blog {
    width: 315px;
    margin: 0 auto;
    overflow: hidden; }
  #contact {
    padding-top: 40px; }
  #contact h1 {
    margin-bottom: 60px;
    font-size: 40px;
    padding-left: 0px; }
  #contact .infa, #contact .form {
    width: 100%;
    text-align: center; }
  #contact .form {
    margin-top: 20px; }
  #contact .form_centr {
    width: 580px;
    margin: 0 auto;
    overflow: hidden; }
  .form input[type="text"], .form input[type="email"] {
    margin-right: 5px; }
  #contact textarea {
    width: 500px; } }

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #logo {
    display: none; }
  #header {
    height: 49px; }
  #menu ul li {
    font-size: 14px;
    padding: 13px 14px 15px 14px; }
  #team h1 {
    margin-bottom: 50px; }
  #menu {
    width: 100%; }
  .text {
    bottom: 12%; }
  .text h1 {
    font-size: 25px;
    margin-bottom: 15px; }
  .text p {
    font-size: 14px;
    margin-bottom: 25px; }
  .ghost-button {
    padding: 5px 20px;
    font-size: 14px;
    border: 1px solid #fff; } }

@media only screen and (max-width: 768px) {
  .nav {
    display: none; } }

@media only screen and (min-width: 513px) and (max-width: 768px) {
  .container_menu {
    width: 426px;
    margin: 0 auto;
    overflow: hidden; }
  .img_prev, .img_next {
    width: 28px;
    height: 28px; }
  #Adrian, #Fernando {
    clear: both; }
  .two_team {
    width: 540px;
    margin: 0 auto;
    overflow: hidden; }
  #Adrian, #Narate, #Fernando, #Adedayo {
    margin-bottom: 25px;
    margin-left: 40px; }
  .text {
    bottom: 12%; }
  #blog {
    padding: 50px 0px; }
  #blog .one_team {
    width: 320px;
    margin: 0 auto;
    overflow: hidden; }
  #basic, #pro, #premium {
    clear: both;
    margin-bottom: 20px;
    margin-left: 0px; }
  #contact {
    padding-top: 40px; }
  #contact h1 {
    margin-bottom: 60px;
    font-size: 35px;
    padding-left: 0px; }
  #contact .infa, #contact .form {
    width: 100%;
    text-align: center; }
  #contact .form {
    margin-top: 20px; }
  #contact .form_centr {
    width: 513px;
    margin: 0 auto;
    overflow: hidden; }
  .form input[type="text"], .form input[type="email"] {
    margin-right: 0px;
    width: 428px; }
  #contact textarea {
    width: 437px; } }

@media only screen and (max-width: 513px) {
  .container_menu {
    width: 426px;
    margin: 0 auto;
    overflow: hidden; }
  #Adrian, #Narate, #Fernando, #Adedayo {
    clear: both; }
  .one_team {
    width: 320px;
    margin: 0 auto;
    overflow: hidden; }
  #basic, #pro, #premium {
    clear: both;
    margin-left: 6px; }
  #blog {
    padding: 50px 0px; }
  .img_prev, .img_next {
    width: 28px;
    height: 28px; }
  #basic, #pro, #premium {
    margin-bottom: 20px; }
  #contact {
    padding-top: 40px; }
  #contact h1 {
    margin-bottom: 60px;
    font-size: 40px;
    padding-left: 0px; }
  #contact .infa, #contact .form {
    width: 100%;
    text-align: center; }
  #contact .form {
    margin-top: 20px; }
  #contact .form_centr {
    width: 580px;
    margin: 0 auto;
    overflow: hidden; }
  .form input[type="text"], .form input[type="email"] {
    margin-right: 5px; }
  #contact textarea {
    width: 500px; }
  #contact h1 {
    margin-bottom: 60px;
    font-size: 35px;
    padding-left: 0px; }
  #contact .infa, #contact .form {
    width: 100%;
    text-align: center; }
  #contact .form {
    margin-top: 20px; }
  #contact .form_centr {
    width: 320px;
    margin: 0 auto;
    overflow: hidden; }
  .form input[type="text"], .form input[type="email"] {
    margin-right: 0px;
    width: 264px; }
  #contact textarea {
    width: 264px; } }

@media only screen and (min-width: 320px) and (max-width: 425px) {
  #logo {
    display: none; }
  #header {
    height: 49px; }
  .container_menu {
    width: 318px;
    margin: 0 auto;
    overflow: hidden; }
  #menu {
    width: 100%; }
  #menu ul li {
    font-size: 12px;
    padding: 15px 8px 15px 8px; }
  .text {
    bottom: 5%; }
  .text h1 {
    font-size: 17px;
    margin-bottom: 8px; }
  .text p {
    font-size: 12px;
    margin-bottom: 15px; }
  .ghost-button {
    padding: 3px 12px;
    font-size: 12px;
    border: 1px solid #fff; }
  #team h1 {
    margin-bottom: 50px; } }

/*-------------------------------------------*/
/*----------------END @MEDIA----------------*/
/*-----------------------------------------*/
